html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: red;
}

.content{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 400px 900px 200px;
    background-color: rgb(191, 225, 237);
}

.header{
    background:transparent;
    display: grid;
    grid-template-rows: 1fr 1fr;

}
.arrange-1{
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    background:transparent;

}

.name{
    background-color: grey;
    text-align: center;
    background:transparent;
}

.site-name{
    height: 90px;
    margin-top: 40px;
    background-color: rgb(191, 225, 237);
    font-size: 100px;
    color: white;
    animation-name: TopfromBottom;
    animation-duration: 0.8s;
    animation-timing-function: smooth;



}

.dashboard{
    background:transparent;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.money-display{
    background:transparent;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr; 
    animation-name: LefttoRight;
    animation-duration: 0.8s;
    animation-timing-function: ease-in;
}

.money-container{
    background-color: rgb(252, 252, 190);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 30px;
    box-shadow: 1px 1px 4px;
}
.money-container:hover{
    cursor: pointer;
    box-shadow: 3px 3px 5px;
}

.profile{
    background:transparent;
    margin-top: 30px;
    margin-left: 70px;
    animation: scroll-watcher;
    animation-timing-function: cubic-bezier();
    animation-timeline: scroll();
}
.test1{
    background:transparent;
}
.test2{
    background:transparent;
}

.pp{
    width: 150px;
    border-radius: 50%;
}

.structure{
    background: transparent;
    display: grid;
}

.col1{
    background:transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.scan-card, .game-card, .history-card, .maps-card{
    background:transparent;
    display: grid;
    grid-template-columns: 3fr 10fr 3fr;
    
}

.scan-card-actual, .game-card-actual, .history-card-actual, .maps-card-actual{
    background: transparent;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

.scan-card-baby, .game-card-baby, .history-card-baby, .maps-card-baby{
    border-radius: 30px;
    transition: translateY ease 0.5s, box-shadow smooth 0.4s;
    box-shadow: 1px 1px 4px;
    margin-right: 3px;
    animation-name: LefttoRight;
    animation-duration: 1s;

}

.scan-card-baby{
    background: linear-gradient(135deg, #f6bbe3, #7564e3);
}

.game-card-baby{
    background:linear-gradient(135deg, rgb(237, 126, 104), rgb(231, 231, 82));
}

.history-card-baby{
    background:linear-gradient(135deg, rgb(154, 246, 144), rgb(121, 185, 195));
}

.maps-card-baby{
    background:linear-gradient(135deg, rgb(224, 255, 138), rgb(226, 150, 194));
}


.scan-card-baby:hover, .game-card-baby:hover, .history-card-baby:hover, .maps-card-baby:hover{
    cursor: pointer;
    transform: translateY(-20px);
    box-shadow: 2px 2px 4px;
}


.col2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background:transparent;
}

.end{
    background:transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tejas{
    background-color: grey;
}

@keyframes TopfromBottom {
    from{
        opacity: 0;
        transform:translateY(-100px);

    }
    to{
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes LefttoRight{
    from{
        opacity: 0;
        transform:translateX(-100px);

    }
    to{
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes RighttoLeft{
    from{
        opacity: 0;
        transform:translateX(100px);

    }
    to{
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes scroll-watcher-to-right{
    from{

    }

    to {
        transform:translateX(100px);
    }
}

